<h3 class="no-result-message" [class.d-block]="noResult">{{'no-result-message' | translate}}</h3>
<div class="table-wrapper mb-5" [class.d-none]="lessonResults.length === 0">
    <h4 class="table-title mb-3">{{'lessons' | translate }}</h4>
    <table class="table table-striped table-centered mb-0">
        <thead>
            <tr>
                <th style="width: 70px;">#</th>
                <th>{{"lesson-name" | translate}}</th>
                <th>{{"lesson-code" | translate}}</th>
                <th>{{"class" | translate}}</th>
                <th>{{"teacher-fullname" | translate}}</th>
                <th style="width: 350px;">{{"operations" | translate}}</th>
            </tr>
        </thead>
        <tbody>
            @for (lesson of lessonResults; track lesson.id) {
            <tr>
                <td>{{ lessonResults.indexOf(lesson) + 1 }}</td>
                <td [innerHTML]="highlightMatch(lesson.name)"></td>
                <td [innerHTML]="highlightMatch(lesson.code)"></td>
                <td>{{lesson.class}}</td>
                <td>
                    <span [innerHTML]="highlightMatch(lesson.teacherFirstName)"></span>&nbsp;<span
                        [innerHTML]="highlightMatch(lesson.teacherLastName)"></span>
                </td>
                <td>
                    <div class="operations">
                        <a [routerLink]="['/lessons',lesson.slug]" class="edit-btn"><i class="fa-solid fa-edit"></i></a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div class="table-wrapper mb-5" [class.d-none]="studentResults.length === 0">
    <h4 class="table-title mb-3">{{'students' | translate }}</h4>
    <table class="table table-striped table-centered mb-0">
        <thead>
            <tr>
                <th style="width: 70px;">#</th>
                <th>{{"student-fullname" | translate}}</th>
                <th>{{"class" | translate}}</th>
                <th style="width: 350px;">{{"operations" | translate}}</th>
            </tr>
        </thead>
        <tbody>
            @for (student of studentResults; track student.id) {
            <tr>
                <td>{{studentResults.indexOf(student)+1}}</td>
                <td>
                    <span [innerHTML]="highlightMatch(student.firstname)"></span>&nbsp;<span
                        [innerHTML]="highlightMatch(student.lastname)"></span>
                </td>
                <td>{{student.class}}</td>
                <td>
                    <div class="operations">
                        <a [routerLink]="['/students',student.slug]" class="edit-btn"><i
                                class="fa-solid fa-edit"></i></a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div class="table-wrapper mb-5" [class.d-none]="examResults.length === 0">
    <h4 class="table-title mb-3">{{'exams' | translate }}</h4>
    <table class="table table-striped table-centered mb-0">
        <thead>
            <tr>
                <th style="width: 70px;">#</th>
                <th>{{"lesson-name" | translate}}</th>
                <th>{{"student-fullname" | translate}}</th>
                <th>{{"date" | translate}}</th>
                <th>{{"score" | translate}}</th>
                <th style="width: 350px;">{{"operations" | translate}}</th>
            </tr>
        </thead>
        <tbody>
            @for(exam of examResults; track exam.id){
            <tr>
                <td>{{examResults.indexOf(exam) + 1}}</td>
                <td [innerHTML]="highlightMatch(getCurrentLesson(exam.lessonCode)?.name ?? '')"></td>
                <td>
                    <span
                        [innerHTML]="highlightMatch(getCurrentStudent(exam.studentId)?.firstname ?? '')"></span>&nbsp;<span
                        [innerHTML]="highlightMatch(getCurrentStudent(exam.studentId)?.lastname ?? '')"></span>
                </td>
                <td>{{exam.date}}</td>
                <td>{{exam.score}}</td>
                <td>
                    <div class="operations">
                        <a [routerLink]="['/exams',exam.slug]" class="edit-btn"><i class="fa-solid fa-edit"></i></a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>