<form class="general-form" (submit)="onSubmit($event)" novalidate>
    <div class="row">
        <div class="col-12 col-md-6 col-xl-5">
            <div class="form-item mb-4">
                <label for="lessonCode">{{"lesson-name" | translate}}</label>
                <div class="select-wrapper">
                    <i class="fa-solid fa-chevron-down"></i>
                    <select id="lessonCode" [(ngModel)]="lessonCode" name="lessonCode"
                        [class.is-invalid]="submitted && !lessonCode" [class.is-valid]="lessonCode">

                        @for (lesson of lessons; track lesson.id) {
                        <option value="{{lesson.code}}">
                            {{lesson.name}} - {{lesson.class}}
                        </option>
                        }
                    </select>
                </div>
                <div class="invalid-feedback" [class.d-block]="submitted && (!lessonCode)">
                    {{'invalid-select-message' | translate}}
                </div>
            </div>

            <div class="form-item mb-4">
                <label for="studentId">{{"student-fullname" | translate}}</label>
                <div class="select-wrapper">
                    <i class="fa-solid fa-chevron-down"></i>
                    <select id="studentId" [(ngModel)]="studentId" name="studentId"
                        [class.is-invalid]="submitted && !studentId" [class.is-valid]="studentId">

                        @for (student of students; track student.id) {
                        <option value="{{student.id}}">
                            {{student.firstname}} {{student.lastname}} - {{student.class}}
                        </option>
                        }
                    </select>
                </div>
                <div class="invalid-feedback" [class.d-block]="submitted && (!studentId)">
                    {{'invalid-select-message' | translate}}
                </div>
            </div>

            <div class="form-item mb-4">
                <label for="date">{{"date" | translate}}</label>
                <input type="datetime-local" id="date" [(ngModel)]="date" name="date" [class.is-invalid]="submitted && (!date)" [class.is-valid]="date">
                <div class="invalid-feedback" [class.d-block]="submitted && (!date)">
                    {{'invalid-input-message' | translate}}
                </div>
            </div>

            <div class="form-item mb-4">
                <label for="score">{{"score" | translate}}</label>
                <input type="number" id="score" min="0" max="9" [(ngModel)]="score" name="score"
                    [class.is-invalid]="submitted && (score === null || score === undefined || score < 0 || score > 9)" [class.is-valid]="score !== null && score !== undefined && score >= 0 && score < 10">
                <div class="invalid-feedback" [class.d-block]="submitted && (score === null || score === undefined || score < 0 || score > 9)" >
                    {{'invalid-input-message' | translate}} (1-9)
                </div>
            </div>

            <div class="form-item">
                <button type="submit" class="submit-btn">{{'save' | translate}}</button>
            </div>
        </div>
    </div>
</form>