<form class="general-form" (submit)="addLesson($event)" novalidate>
    <div class="row">
        <div class="col-12 col-md-6 col-xl-5">
            <div class="form-item mb-4">
                <label for="lesson-name">{{"lesson-name" | translate}}</label>
                <input type="text" id="lesson-name" maxlength="30" [(ngModel)]="name" name="name"
                    [ngClass]="{ 'is-invalid': submitted && name.trim().length < 2 }">
                <div *ngIf="submitted && name.trim().length < 2" class="invalid-feedback">
                    {{'invalid-input-message' | translate}} ({{'min-2-simvol' | translate}})
                </div>
            </div>
            <div class="form-item mb-4">
                <label for="lesson-code">{{"lesson-code" | translate}}</label>
                <input type="text" id="lesson-code" maxlength="3" [(ngModel)]="code" name="code"
                    [ngClass]="{ 'is-invalid': submitted && code.trim().length < 2 }">
                <div *ngIf="submitted && code.trim().length < 2" class="invalid-feedback">
                    {{'invalid-input-message' | translate}} ({{'min-2-simvol' | translate}})
                </div>
            </div>
            <div class="form-item mb-4">
                <label for="class">{{"class" | translate}}</label>
                <input type="number" id="class" min="1" max="99" [(ngModel)]="classNumber" name="class"
                    [ngClass]="{ 'is-invalid': submitted && (!classNumber || classNumber < 1 || classNumber > 99) }">
                <div *ngIf="submitted && (!classNumber || classNumber < 1 || classNumber > 99)"
                    class="invalid-feedback">
                    {{'invalid-input-message' | translate}} (1-99)
                </div>
            </div>
            <div class="form-item mb-4">
                <label for="teacher-firstname">{{"teacher-firstname" | translate}}</label>
                <input type="text" id="teacher-firstname" maxlength="20" [(ngModel)]="teacherFirstName" name="firstName"
                    [ngClass]="{ 'is-invalid': submitted && teacherFirstName.trim().length < 2 }">
                <div *ngIf="submitted && teacherFirstName.trim().length < 2" class="invalid-feedback">
                    {{'invalid-input-message' | translate}} ({{'min-2-simvol' | translate}})
                </div>
            </div>
            <div class="form-item mb-5">
                <label for="teacher-lastname">{{"teacher-lastname" | translate}}</label>
                <input type="text" id="teacher-lastname" maxlength="20" [(ngModel)]="teacherLastName" name="lastName"
                    [ngClass]="{ 'is-invalid': submitted && teacherLastName.trim().length < 2 }">
                <div *ngIf="submitted && teacherLastName.trim().length < 2" class="invalid-feedback">
                   {{'invalid-input-message' | translate}} ({{'min-2-simvol' | translate}})
                </div>
            </div>
            <div class="form-item">
                <button type="submit" class="submit-btn">{{'save' | translate}}</button>
            </div>
        </div>
    </div>
</form>


