@use '../../scss/mixin' as *;
@use '../../scss/variables' as *;


.home-wrapper {
    width: 100%;
    @include column-center;
    gap: 20px;

    @media (min-width: 768px) {
        @include row-between;
    }

    .link-item {
        width: 100%;
        padding: 30px;
        @include column-center;
        gap: 15px;
        background-color: light-dark(#ffffff, #37404A);
        border-bottom: 6px solid $primary-color;
        border-radius: 10px;
        @media (min-width: 768px){
            width: 30%;
        }
        span {
            color: light-dark($txt-color-3, $txt-color-1);
        }
        i{
            font-size: 30px;
            background-color: #727cf5;
        }
        span{
            &.link-value{
                font-size: 35px;
            }
            &.link-title{
                font-size: 22px;
            }
        }
    }
}