<div class="main-operations">
    <a class="add-button" routerLink="/students/add">{{'add-student' | translate}} <i class="fa-solid fa-circle-plus"></i></a>
    <button class="delete-all" [ngClass]="studentService.getStudents().length === selectedRowIDs.length ? 'active' : ''" *ngIf="studentService.getStudents().length > 0" (click)="selectAll()">
        {{"select-all" | translate}}
    </button>
    <button class="delete-select" *ngIf="selectedRowIDs.length > 0" (click)="deleteSelected()">
        {{"delete-selected" | translate}}
    </button>
</div>
<div class="table-wrapper">
    <table class="table table-striped table-centered mb-0">
        <thead>
            <tr>
                <th style="width: 70px;">#</th>
                <th>{{"student-fullname" | translate}}</th>
                <th>{{"class" | translate}}</th>
                <th style="width: 350px;">{{"operations" | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of studentService.getStudents();let i = index">
                <td>{{i+1}}</td>
                <td>{{student.firstname}} {{student.lastname}}</td>
                <td>{{student.class}}</td>
                <td>
                    <div class="operations">
                        <a [routerLink]="['/students',student.slug]" class="edit-btn"><i class="fa-solid fa-edit"></i></a>
                        <button class="delete-btn" (click)="delete(student.id)"><i class="fa-solid fa-trash"></i></button>
                        <button class="check-btn" [ngClass]="isSelected(student.id) ? 'active' : ''" (click)="selectRow(student.id)"><i class="fa-solid fa-check"></i></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>